<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Form Validation - SpaceX Template</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="../../static/adminResources/css/themify-icons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResources/css/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../static/adminResources/css/sweetalert.css">

</head>

<body>

{% include 'user/menu.html' %}

<!-- /.main-menu -->

{% include 'user/header.html' %}

<!-- /.fixed-navbar -->


{#</div>#}
{#<!-- /#message-popup --> #}
<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-12">
                <div class="box-content">
                    <div class="form-group">

                        <h1>Add Video</h1>

                        <br>

                        <form action="/user/insertVideo" enctype="multipart/form-data" method="post">


                            Sports Type Name: <select name="video_SportsTypeId" class="form-control">
                            <option>Select Sports</option>
                            {% for i in sportsTypeVOList %}
                            <option value="{{ i['sportsTypeId'] }}">{{ i['sportsTypeName'] }}</option>
                            {% endfor %}
                        </select>

                            <br><br>

                            <div class="form-group">
                                <label for="inputVideo" class="control-label">File Upload</label>

                                <input type="file" name="file" class="form-control" id="inputVideo" placeholder=""
                                       required>


                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                            </div>
                        </form>
                    </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--{% include 'user/footer.html' %}-->
</div>


<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/modernizr.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/adminResources/js/nprogress.js"></script>
<script src="../../static/adminResources/js/sweetalert.min.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>
<!-- Sparkline Chart -->
<script src="../../static/adminResources/js/jquery.sparkline.min.js"></script>
<script src="../../static/adminResources/js/chart.sparkline.init.min.js"></script>

<!-- Validator -->
<script src="../../static/adminResources/js/validator.min.js"></script>

<script src="../../static/adminResources/js/main.min.js"></script>
<script src="../../static/adminResources/js/mycommon.js"></script>
</body>
</html>