<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="../../static/adminResources/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResources/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">
    <form action="/admin/generateOTP" method="post" class="frm-single">
        <div class="inside">


            <div class="title"><strong>Computer Vision Based <br>Atheletics Analyser</strong></div>


            <div class="frm-title">Forgot Password</div>

            <div class="frm-input"><input type="email" placeholder="Username" name="loginUsername" class="frm-inp"><i
                    class="fa fa-user frm-ico"></i></div>

            {% if error %}
            <h6 class="font-weight-light" style="color: red;">{{ error }}</h6>
            {% endif %}
            <button type="submit" class="btn btn-block">Submit</button>
            <br>
            <div>
                <center><p>Don't have an account? <br> <a href="/user/loadRegister">Sign up Now</a></p></center>
            </div>


        </div>
    </form>
</div>


<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/modernizr.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/nprogress.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>

<script src="../../static/adminResources/js/main.min.js"></script>
<script src="../../static/adminResources/js/mycommon.js"></script>
</body>
</html>