<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pricing Table - SpaceX Template</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="../../static/adminResources/css/themify-icons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResources/css/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../static/adminResources/css/sweetalert.css">

</head>

<body>


{% include 'user/menu.html' %}

<!-- /.main-menu -->


{% include 'user/header.html' %}
<!-- /.fixed-navbar -->

<div id="wrapper">
    <div class="main-content">
        <div class="pricing-plan">
            <div class="pricing-table">

                <div class="cols col-first">
                    <div class="thead">
                        <div class="center-v">Choose your plan</div>
                    </div>
                    <div class="td">Package Price</div>
                    <div class="td">Package Duration</div>
                    <div class="td"></div>
                </div>

                {% for i in packageVOList %}

                <div class="cols">
                    <div class="thead bg-blue-1">
                        <h1><b>{{ i['packageName'] }} </b></h1>
                    </div>
                    <div class="td"><i class = "fa fa-rupee-sign">{{ i['packagePrice'] }}</i></div>
                    <div class="td">{{ i['packageDuration'] }}</div>
                    <div class="td"><a href="/user/insertPurchase?packageId={{ i['packageId'] }}"
                                       class="btn-order js__popup_open" data-target="#register-form-popup-2">ORDER
                        NOW</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--{% include 'user/footer.html' %}-->
    </div>
</div>


<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/modernizr.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/adminResources/js/nprogress.js"></script>
<script src="../../static/adminResources/js/sweetalert.min.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>
<!-- Sparkline Chart -->
<script src="../../static/adminResources/js/jquery.sparkline.min.js"></script>
<script src="../../static/adminResources/js/chart.sparkline.init.min.js"></script>

<script src="../../static/adminResources/js/main.min.js"></script>
<script src="../../static/adminResources/js/mycommon.js"></script>
</body>
</html>