<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Form Validation - SpaceX Template</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">

    <!-- Themify Icon -->
    <link rel="stylesheet" href="../../static/adminResources/css/themify-icons.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="../../static/adminResources/css/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResources/css/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="../../static/adminResources/css/sweetalert.css">

</head>

<body>

{% include 'admin/menu.html' %}

<!-- /.main-menu -->

{% include 'admin/header.html' %}

<!-- /.fixed-navbar -->


<!-- /#message-popup -->
<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-12">
                <div class="box-content">

                    <h1>Add Complain Reply</h1>
                    <form action="/admin/insertComplainReply" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="complainId" value={{ complainId }}>
                        <div class="form-group">


                            <label for="inputName" class="control-label">Reply Subject</label>

                            <input type="text" name="replySubject" class="form-control" id="inputName" placeholder=""
                                   required>

                            <label for="inputSportsDescription" class="control-label">Reply Message</label>

                            <textarea name="replyMessage" class="form-control" required></textarea>


                            <label for="inputVideo" class="control-label">Reply Attachment</label>

                            <input type="file" name="replyFilename" class="form-control" placeholder=""
                                   required>


                        </div>


                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-primary waves-effect waves-light">
                        </div>
                    </form>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row small-spacing -->

        <!--{% include 'admin/footer.html' %}-->
    </div>
    <!-- /.main-content -->
</div><!--/#wrapper -->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

<!--
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/modernizr.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../static/adminResources/js/nprogress.js"></script>
<script src="../../static/adminResources/js/sweetalert.min.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>
<!-- Sparkline Chart -->
<script src="../../static/adminResources/js/jquery.sparkline.min.js"></script>
<script src="../../static/adminResources/js/chart.sparkline.init.min.js"></script>

<!-- Validator -->
<script src="../../static/adminResources/js/validator.min.js"></script>

<script src="../../static/adminResources/js/main.min.js"></script>
<script src="../../static/adminResources/js/mycommon.js"></script>
</body>
</html>