<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="../../static/adminResources/css/style.min.css">
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="../../static/adminResources/css/waves.min.css">

</head>

<body>

<div id="single-wrapper">
    <form action="#" class="frm-single">
        <div class="inside">
            <figure class="logo"></figure>
            <img
                    src="../../static/adminResources/image/LogoADMIN.png"
                    alt=""></figure>
            <div class="title"><strong>Computer Vision Based <br>Atheletics Analyser </strong></div>
            <!-- /.title -->
            <div class="frm-title">Register</div>
            <!-- /.frm-title -->
            <div class="frm-input"><input type="text" placeholder="First Name" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>

            <div class="frm-input"><input type="text" placeholder="Last Name" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>

            <div class="frm-input"><input type="number" placeholder="Mobile Number" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>

            <div class="frm-input"><input type="textarea" placeholder="Address" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>

            <div class="frm-input"><input type="email" placeholder="Email" class="frm-inp"><i
                    class="fa fa-envelope frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="frm-input"><input type="password" placeholder="Password" class="frm-inp"><i
                    class="fa fa-lock frm-ico"></i></div>
            <!-- /.frm-input -->
            <div class="form-group">
                <label for="inputName" class="control-label">Sports Name</label>
                <select name="sportsname" class="form-control" id="inputName" placeholder="" required>
                    {% for i in sportsTypeVOList %}
                    <option value="{{ i['sportsTypeId'] }}">{{ i['sportsTypeName'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="inputName" class="control-label">Gender</label>
                <select name="Gender" class="form-control" id="inputName" placeholder="" required>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="clearfix margin-bottom-20">
                <div class="checkbox primary"><input type="checkbox" id="accept"><label for="accept">I accept Terms and
                    Conditions</label></div>
                <!-- /.checkbox -->
            </div>
            <!-- /.clearfix -->
            <button type="submit" class="frm-submit">Register<i class="fa fa-arrow-circle-right"></i></button>

            <div class="txt-login-with txt-center">or register with</div>
            <!-- /.txt-login-with -->
            <!-- /.col-md-6 -->
            <center>
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-sm btn-icon btn-icon-left btn-social-with-text btn-google-plus text-white waves-effect waves-light">
                        <i class="ico fa fa-google-plus"></i>Google
                    </button>
                </div>
                <!-- /.col-md-6 -->
            </center>
        </div>
        <!-- /.row -->
        <a href="page-login.html" class="a-link"><i class="fa fa-sign-in"></i>Already have account? Login.</a>
        <!-- /.footer -->
</div>
<!-- .inside -->
</form>
<!-- /.frm-single -->
</div><!--/#single-wrapper -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>


<![endif]-->
<!--
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/modernizr.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/nprogress.js"></script>
<script src="../../static/adminResources/js/waves.min.js"></script>

<script src="../../static/adminResources/js/main.min.js"></script>
<script src="../../static/adminResources/js/mycommon.js"></script>
</body>
</html>